!!!
%html
  %head
    %title 徳つむつむ
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "enchant.js"}
    %script{:src => "Box2dWeb-2.1.a.3.js"}
    %script{:src => "box2d.enchant.js"}
    %script{:src => "js/main.js"}
  %body
    #enchant-stage
